body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.error-message {
    font-size: 14px;
    display: none;
}
